{{!-- <main class="section-body section-body--clubs">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {{#each data.treatments}}
        <li class="splide__slide">
          {{> ../card/card-club data=this }}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main> --}}

<main class="section-body section-body--clubs">
  <div class="carrossel">
    {{#each data.treatments}}
    {{> ../card/card-club data=this }}
    {{/each}}
  </div>
</main>