<main class="section-body section-body--default">
  <div class="slider-default">
    {{#each data.treatments}}
    <div>
      {{> ../card/card-default data=this }}
    </div>
    {{/each}}
  </div>
</main>