<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {{> components/metatags data=htmlWebpackPlugin.options.data.seo }}
</head>

<body>
  {{!-- {{> pageComponents/header data=htmlWebpackPlugin.options.data.seo }} --}}

  {{> pageComponents/footer }}
</body>

</html>