<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {{> components/metatags data=htmlWebpackPlugin.options.data.seo }}
  {{> components/global-styles }}
</head>

<body>
  {{> pageComponents/header data=htmlWebpackPlugin.options.data.globalHeader }}
  {{> pageComponents/banners-section data=htmlWebpackPlugin.options.data.home.sections.banners }}
  {{> pageComponents/section-cards-club data=htmlWebpackPlugin.options.data.home.sections.ourClubs }}
  {{> pageComponents/section-cards-help data=htmlWebpackPlugin.options.data.home.sections.howWeCanHelp }}

  <div id="mais-vendidos">
    {{> pageComponents/section-cards-default data=htmlWebpackPlugin.options.data.home.sections.ourTopTreatments }}
  </div>

  {{!-- {{> pageComponents/app-section }} --}}

  <div id="tratamentos">
    {{> pageComponents/section-cards-default data=htmlWebpackPlugin.options.data.home.sections.ourTreatments }}
  </div>

  {{!-- {{> pageComponents/blockquote-section }} --}}
  {{> pageComponents/footer }}
</body>

</html>