<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {{> components/metatags data=htmlWebpackPlugin.options.data.seo }}
</head>
<body>
  {{> pageComponents/header data=htmlWebpackPlugin.options.data.seo }}
</body>
</html>