$card-desktop-width: 358px;
$card-desktop-height: 205px;

.card-help {
	border-radius: 13.4341px;
	width: 311px;
	height: 188.08px;

	@media screen and (min-width: $container-desktop-max-width) {
		width: $card-desktop-width;
		height: $card-desktop-height;
	}

	&__link {
		display: block;
		width: 311px;
		height: 188.08px;
		text-decoration: none;

		border-radius: 13.4341px;
		overflow: hidden;

		@media screen and (min-width: $container-desktop-max-width) {
			border-radius: 20px;
			width: $card-desktop-width;
			height: $card-desktop-height;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__sr-description {
		visibility: hidden;
	}
}
