.card-club {
	width: 311px !important;
	height: 472px !important;
	background-color: white;
	border-radius: 13.4341px;

	display: flex;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		border-radius: 20px;
		width: 358px !important;
		height: 608px !important;
	}

	&__title {
		background-color: #e3d8cb;
		color: #656565;
		border-radius: 13.4341px 13.4341px 0 0;

		display: flex;
		flex-direction: row;
		gap: 13.44px;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: center;

		font-style: normal;
		font-weight: 800;
		font-size: 26.8683px;
		line-height: 27px;

		padding: 0 17.46px;
		height: 119.49px;

		@media screen and (min-width: 768px) {
			border-radius: 20px 20px 0 0;
			font-size: 36px;
			line-height: 37px;
			gap: 21px;

			padding: 31.09px 30px 36px;
			height: 157.89px;
		}
	}

	&___icon {
		width: 83.29px;
		height: 83.29px;

		@media screen and (min-width: 768px) {
			width: 124px;
			height: 124px;
		}
	}

	&__cover {
		aspect-ratio: 311 / 134.34;
		overflow: hidden;

		@media screen and (min-width: 768px) {
			aspect-ratio: 463 / 200;
		}

		img {
			object-fit: cover;

			@media screen and (min-width: 768px) {
				width: 100%;
				height: auto;
			}
		}
	}

	&__description {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: #656565;

		margin: 14px auto 0;
		width: calc(100% - 38px);

		@media screen and (min-width: 768px) {
			margin-top: 20px;
			width: calc(100% - 70px);
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__link {
		background: #000000;
		border-radius: 67.1706px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px;
		gap: 5.37px;

		width: calc(100% - 38px);
		margin: auto auto 20px;
		height: 48px;

		color: #ffffff;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 15px;
		text-decoration: none;

		@media screen and (min-width: 768px) {
			width: calc(100% - 70px);
			margin: auto auto 40px;
			font-size: 18px;
			line-height: 20px;

			img {
				width: 17px;
				height: 17px;
			}
		}
	}
}
