html,
body {
	min-height: 100%;
	background-color: #efefef;
}

body,
input,
textarea,
button {
	font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 64px);
	max-width: 1200px;

	@media screen and (min-width: 1456px) {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
