<section class="app-section">
  <a href="https://qrcodes.pro/jFABeK" title="Clique aqui e encontre o APP da Lilly para o seu celular" target="_blank"
    rel="noopener noreferrer" class="app-section__link">
    <img src="/images/section-app-mobile.jpg" alt="Clique aqui e encontre o APP da Lilly para o seu celular"
      class="app-section__image app-section__image--mobile" width="414" height="596.93" loading="lazy" />


    <img src="/images/section-app-desktop.jpg" alt="Clique aqui e encontre o APP da Lilly para o seu celular"
      class="app-section__image app-section__image--desktop" width="1920" height="730.67" loading="lazy" />
  </a>
</section>