<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col-logo">
        <img src="images/logo-lilly-med-white.svg" alt="Lilly Med" width="192.75" height="64" loading="lazy"
          class="footer__logo" />
      </div>

      <div class="footer__col-map">
        <h3 class="footer__title">Mapa do Site</h3>

        <nav class="footer__nav">
          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Tratamentos
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Nossos Clubes
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Clínicas
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Blog
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Catálogo
          </a>
        </nav>
      </div>

      <div class="footer__col-contact">
        <h3 class="footer__title">Fale Conosco</h3>

        <nav class="footer__nav">
          {{> ../components/callToAction/whatsapp-ghost-white }}

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Fale Conosco (SAC)
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Dúvidas
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Reclamações
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Cancelamentos
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            Ouvidoria
          </a>

          <a href="mailto:atendimento@lillyestetica.com.br" title="Clique aqui e fale conosco pelo Whatsapp"
            target="_blank" rel="noopener noreferrer" class="footer__link">
            Email: atendimento@lillyestetica.com.br
          </a>

          <a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
            rel="noopener noreferrer" class="footer__link">
            WhatsApp: (21) 4020-2329
          </a>
        </nav>
      </div>

      <div class="footer__col-social">
        <div class="footer__row-app">
          <h3 class="footer__title">Baixe o Lilly App</h3>

          <nav class="footer__nav-app">
            <a href="https://play.google.com/store/apps/details?id=br.com.lillyestetica.app"
              tilte="Baixe nosso aplicativo na Google Play" rel="noopener noreferrer" target="_blank"
              class="footer__link-app">
              <img src="images/icons/icon-play-store.png" alt="" width="95" height="28" loading="lazy" />
            </a>

            <a href="https://apps.apple.com/br/app/lilly-app/id1607382354" tilte="Baixe nosso aplicativo na App Store"
              rel="noopener noreferrer" target="_blank" class="footer__link-app">
              <img src="images/icons/icon-app-store.png" alt="" width="95" height="28" loading="lazy" />
            </a>
          </nav>
        </div>

        <div class="footer__row-social">
          <h3 class="footer__title">Acompanhe nas Redes Sociais</h3>

          <nav class="footer_nav-social">
            <a href="https://www.facebook.com/esteticalilly" target="_blank"
              title="Clique aqui e acesse a nossa página no Facebook" rel="noopener noreferrer"
              class="footer__link-social">
              <img src="images/icons/icon-facebook-white.svg" alt="" width="40" height="40" loading="lazy" />
            </a>

            <a href="https://www.instagram.com/lilly_estetica/" target="_blank"
              title="Clique aqui e acesse nosso perfil no Instagram" rel="noopener noreferrer"
              class="footer__link-social">
              <img src="images/icons/icon-instagram-white.svg" alt="" width="40" height="40" loading="lazy" />
            </a>

            <a href="https://bit.ly/AtendiLillySite" target="_blank" title="Clique aqui e fale conosco pelo WhatsApp"
              rel="noopener noreferrer" class="footer__link-social">
              <img src="images/icons/icon-whatsapp-white.svg" alt="" width="40" height="40" loading="lazy" />
            </a>

            <a href="https://www.youtube.com/channel/UCPmBSUnFiZDOuLxZFi0Cntw" target="_blank"
              title="Clique aqui e acesse nosso canal no Youtube" rel="noopener noreferrer" class="footer__link-social">
              <img src="images/icons/icon-youtube-white.svg" alt="" width="40" height="40" loading="lazy" />
            </a>
          </nav>
        </div>
      </div>
    </div>

  </div>

  {{> ../components/callToAction/whatsapp-fixed-scroll }}
</footer>