<a href="https://bit.ly/LillyWhatsApp" title="Clique aqui e fale conosco pelo Whatsapp" target="_blank"
  rel="noopener noreferrer" class="whatsapp-ghost-white">

  <img src="/images/icons/icon-whatsapp-white.svg" alt="" width="18" height="18" loading="lazy" />

  <span>Atendimento ao Cliente</span>
</a>